<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="madcamp.second.mapper.FarmMapper">
    <select id="getFarmList" resultType="Farm">
        SELECT *
        FROM farm
    </select>

    <select id="getUserListWithFarm" resultType="User">

    </select>

</mapper>