<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="madcamp.second.mapper.UserMapper">

    <select id="getLettersBySender">
        SELECT *
        FROM letter
        WHERE sender_id = #{senderId}
    </select>

    <select id="getLettersByReceiver">
        SELECT *
        FROM letter
        WHERE receiver_id = #{receiverId}
    </select>

    <select id="getLetterById">
        SELECT *
        FROM letter
        WHERE id = #{id}
    </select>

    <insert id="createLetter">
        INSERT INTO letter
            (id, sender_id, receiver_id, text, generated_date, open_date, is_ano, pos_x, pos_y, img_type)
        VALUES
            (#{id}, #{senderId}, #{receiverId}, #{text}, #{generatedDate}, #{openDate}, #{isAno}, #{posX}, #{posY}, #{imgType})
    </insert>

    <!--
    <update id="updateLetter">
        UPDATE letter
        SET text = #{text},
            open_date = #{openDate},
            is_ano = #{isAno}
        WHERE id = #{id}
    </update>

    <delete id="withdrawLetter">
        DELETE
        FROM letter
        WHERE id=#{id}
    </delete>
    -->
</mapper>