<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="madcamp.second.mapper.UserMapper">

    <select id="getUserById" resultType="User">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <select id="getUserByEmail" resultType="User">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>

    <insert id="enrollUser">
        INSERT INTO user
            (id, email, password, username)
        VALUES
            (#{id}, #{email}, #{password}, #{username})
    </insert>

    <update id="updateUser">
        UPDATE user
        SET email = #{email},
            password = #{password},
            username= #{username}
        WHERE id = #{id}
    </update>

    <delete id="withdrawUser">
        DELETE
        FROM user
        WHERE id=#{id}
    </delete>
</mapper>