<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="application.properties"/>

    <typeAliases>
        <typeAlias type="madcamp.second.model.User" alias="User"/>
        <typeAlias type="madcamp.second.model.Letter" alias="Letter"/>
        <typeAlias type="madcamp.second.model.Farm" alias="Farm"/>
    </typeAliases>

    <mappers>

    </mappers>
</configuration>